h1{background-color: #ffe6e6}
h1{color: #004d66}
h1{text-align: center}
body{background-color: #ffb3b3}
body{border-style: dotted;}
body{margin: auto}
body{width: 600px}
body{height: 1500px}
body{border: 4px round #ff4d4d}
body{padding-left: 15px}
body{padding-right: 15px}
body{font-family: serif;}
h2{text-align: center;}
h2{color: #004d66}
h3 {color: #004d66 ; text-align: center;}
h4 {color: #ffe6e6 ; text-align: center}
p{text-align: center;}
img{border-radius: 1500px}
img{border: 4px ridge #004d66}
img{margin-left: 150px}